# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea

*.filters
*.user
*.vcxproj
*.pdb
*.tlog
*.opendb
*.db
*.suo
*.db-wal
*.log
*.idb
*.db-shm
*.ipch
*.sln
*.testlog
*.recipe
*.gitignore
*.ilk
*.manifest

lab01/Lab01/.vs/Sorting/v16/TestStore/0/001.testlog
lab01/Lab01/algos.h
lab01/Lab01/main.cpp
lab01/Lab01/Debug/SortingTest.exp
lab01/Lab01/Debug/Project1.ilk
lab01/Lab01/algos.h
lab01/Lab01/algos.cpp
lab01/Lab01/.vs/Sorting/v16/TestStore/0/001.testlog
